build
node_modules

packages/plasma-core/*
!packages/plasma-core/src

packages/plasma-tokens
examples/**

packages/ui/*
!packages/ui/src

packages/plasma-web/*
!packages/plasma-web/src

packages/plasma-icons/*
!packages/plasma-icons/src
