build
node_modules

actions/versionate-docs/lib
actions/versionate-docs/node_modules

packages/plasma-colors/*
!packages/plasma-colors/additional.ts
!packages/plasma-colors/general.ts
!packages/plasma-colors/index.ts

packages/plasma-core/*
!packages/plasma-core/src

packages/plasma-tokens/*
!packages/plasma-tokens/data.ts
!packages/plasma-tokens/generate.ts
!packages/plasma-tokens/utils.ts

packages/plasma-tokens-b2c/*
!packages/plasma-tokens-b2c/data.ts
!packages/plasma-tokens-b2c/dataColors.ts
!packages/plasma-tokens-b2c/generate.ts
!packages/plasma-tokens-b2c/utils.ts

packages/plasma-tokens-web/*
!packages/plasma-tokens-web/data.ts
!packages/plasma-tokens-web/generate.ts

packages/plasma-typo/*
!packages/plasma-typo/src

packages/**/jest.config.*
examples/**

packages/plasma-b2c/*
!packages/plasma-b2c/src

packages/plasma-ui/*
!packages/plasma-ui/src

packages/plasma-web/*
!packages/plasma-web/src

packages/plasma-icons/*
!packages/plasma-icons/src

packages/plasma-temple/*
!packages/plasma-temple/src

packages/plasma-basic-template/*
!packages/plasma-basic-template/template

packages/plasma-shop-template/*
!packages/plasma-shop-template/template

utils/plasma-cy-utils/*
!utils/plasma-cy-utils/src

utils/plasma-docs-ui/*
!utils/plasma-docs-ui/src

utils/plasma-sb-utils/*
!utils/plasma-sb-utils/src
utils/plasma-sb-utils/src/helpers/flattenPalette.ts

utils/plasma-tokens-utils/*
!utils/plasma-tokens-utils/src

utils/plasma-tokens-ios-swift/*
utils/plasma-tokens-android/*
