@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Light.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Italic.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-SemiboldItalic.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Thin.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Regular.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Semibold.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-LightItalic.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Heavy.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Bold.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-BoldItalic.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('./fonts/SBSansText/SBSansText-Medium.woff2') format('woff2'),
      url('./fonts/SBSansText/SBSansText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'SB Sans Text', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
