@import "slider"

$i : 0
@while $i <= 30
    .layer-mb-#{$i}
        margin-bottom: #{$i}px
    $i : $i + 2

$i : 0
@while $i <= 100
    .layer-w-#{$i}
        width: #{$i}#{'%'}
    $i : $i + 10

.layer
    &-opacity-0
        opacity: 0

    &-opacity-1
        opacity: 1

    &-hidden
        overflow: hidden

    &-unselectable
        -webkit-touch-callout: none /* iOS Safari */
        -webkit-user-select: none   /* Chrome/Safari/Opera */
        -khtml-user-select: none    /* Konqueror */
        -moz-user-select: none      /* Firefox */
        -ms-user-select: none       /* Internet Explorer/Edge */
        user-select: none           /* Non-prefixed version, currently */
        /* not supported by any browser */

    &-logo-text
        font-weight: 700

    &-find-products-btn
        position: relative
        background: rgba(8, 8, 8, 0.7)
        border-radius: 8px
        padding: 6px 10px
        display: flex
        align-items: center
        cursor: pointer
        outline: none
        border: 0
        font-family: SB Sans Text, sans-serif
        font-weight: 500
        font-size: 12px
        color: rgba(255, 255, 255, 0.96)
        margin-left: 16px
        z-index: 1

        @media (min-width: 768px)
            margin-left: 24px

        &::after
            content: ''
            width: 20px
            height: 20px
            background: url('/assets/angle-up.svg') no-repeat
            margin-left: 8px
            transition: transform 200ms

        &-open::after
            transform: rotate(180deg)    

    &-logo-img
        width: 13px
        margin-left: 8px
        margin-right: 4px

    &__sketelon
        background: #E1E1E1
        border-radius: 4px
        height: 16px
