@font-face {
    font-family: 'SB Sans Display';
    src: url('fonts/SBSansDisplay/SBSansDisplay-Light.woff2') format('woff2'),
         url('fonts/SBSansDisplay/SBSansDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('fonts/SBSansDisplay/SBSansDisplay-Thin.woff2') format('woff2'),
         url('fonts/SBSansDisplay/SBSansDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('fonts/SBSansDisplay/SBSansDisplay-Bold.woff2') format('woff2'),
         url('fonts/SBSansDisplay/SBSansDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('fonts/SBSansDisplay/SBSansDisplay-Regular.woff2') format('woff2'),
         url('fonts/SBSansDisplay/SBSansDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SB Sans Display';
    src: url('fonts/SBSansDisplay/SBSansDisplay-Semibold.woff2') format('woff2'),
         url('fonts/SBSansDisplay/SBSansDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
