name: Cypress component testing

on: push

jobs:
  cypress:
    runs-on: ubuntu-latest
    env:
      NPM_REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
      COVERAGE: true
    steps: 
    - uses: actions/checkout@v2

    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Setup packages
      run: |
        npm i
        npx lerna bootstrap

    - name: Run Cypress CT for Plasma UI
      if: ${{ always() }}
      run: |
        npm run cy:ui:run-ct
  
    - name: Run Cypress CT for Plasma Web
      if: ${{ always() }}
      run: | 
        npm run cy:web:run-ct

    - name: Run Cypress CT for Plasma Web B2C
      if: ${{ always() }}
      run: | 
        npm run cy:b2c:run-ct 
    
    - name: Run Cypress CT for Plasma temple
      if: ${{ always() }}
      run: | 
        npm run cy:temple:run-ct 
    
    - name: Save artifacts
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: Test Artifacts
        path: /home/runner/work/plasma/plasma/cypress

    - name: Code Coverage UI
      if: ${{ always() }}
      uses: codecov/codecov-action@v2
      with:
        directory: cypress/plasma-ui-coverage
        flags: plasma-ui,plasma-core

    - name: Code Coverage WEB
      if: ${{ always() }}
      uses: codecov/codecov-action@v2
      with:
        directory: cypress/plasma-web-coverage
        flags: plasma-web,plasma-core

    - name: Code Coverage B2C
      if: ${{ always() }}
      uses: codecov/codecov-action@v2
      with:
        directory: cypress/plasma-b2c-coverage
        flags: plasma-b2c,plasma-core
